$default: #EEE7E5;

.container {
    background-color: $default;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.form {
    margin-top: 45px;
    border-radius: 2rem;
    width: 550px;
    height: 400px;
    box-shadow: 2px 2px 2px 2px #cccccc;
    flex-direction: column;
    display: flex;
    background-color: #fff;
    align-items: center;

    &-group {
        top: 10px;
        width: 431px;
        height: 45px;
        position: relative;
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-top: 2rem;
        }
    }

    &-input {
        padding: 1.5rem 2rem;
        width: 100%;
        border-radius: 1.2rem;
        border: 1px solid #E5E5E5;
        text-indent: 25px;

        &::placeholder {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    &-button {
        width: 431px;
        height: 45px;
        color: #fff;
        background-color: #E22F08;
        border-radius: 1.2rem;
        border: none;
        margin-top: 45px;
    }

    &-button__icons {
        position: absolute;
        right: 400px;
        background-color: transparent;
        border: none;
    }

    &-heading__main {
        color: #E22F08;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 3.6rem;
        margin-top: 6.5rem;
    }

    &-heading__description {
        color: #8E8E8E;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-top: 10px;
    }

    .gg-mail {
        display: block;
        box-sizing: border-box;
        height: 14px;
        border: 2px solid;
        color: #8E8E8E;
        &::after {
          display: block;
          box-sizing: border-box;
          height: 14px;
          border: 2px solid;
          content: "";
          position: absolute;
          border-radius: 3px;
          width: 14px;
          transform: rotate(-45deg);
          bottom: 3px;
          left: 0;
        }
    
        overflow: hidden;
        transform: scale(var(--ggs, 1));
        position: relative;
        width: 18px;
        border-radius: 2px;
      }

      .gg-lock {
        color: #8E8E8E;
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs, 1));
        width: 12px;
        height: 11px;
        border: 2px solid;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom: transparent;
        margin-top: -12px;
    
        &::after {
          content: "";
          display: block;
          box-sizing: border-box;
          position: absolute;
          width: 16px;
          height: 10px;
          border-radius: 2px;
          border: 2px solid transparent;
          box-shadow: 0 0 0 2px;
          left: -4px;
          top: 9px;
        }
    }
}

.user {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    &-signup {
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #949494;

        &__button {
            color: #FF5733;
            
        }
    }
    &-goback {
        margin-top: 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        color: #737171;
    }
}