.nav {
    background-color: #EEE7E5;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
    &-logo {
			color: #000000;
			margin-left: 2rem;
			font-size: 2.4rem;
			font-weight: 500;
    }

    &-access {
			font-weight: 500;
			font-size: 1.6rem;
			color: #444444;
			font-style: normal;
			line-height: 2.4rem;
			cursor: pointer;

			&__signup {
				padding: .8rem;
				border-radius: 8px;
				background-color: #c32a07;
				transition: all .2s;
				color: #fff;
				&:hover {
					background-color: #9e2106;
				}				
			}
    }
}

.navigation {
    &-bar {
	display: flex;
	align-self: stretch;
	align-items: center;
    }
    &-links {
	gap: 10px;
	color: #444444;
	padding: 0 2rem;
	list-style: none;
	font-weight: 500;
	font-size: 2.2rem;
	line-height: 3.2rem;
    }
}
