$default: #EEE7E5;

.container {
    background-color: $default;
    height: 100vh;
}

.landing {
    margin-top: 10rem;
    display: flex;

    &-header {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-left: 10rem;
    }

    &-svg {
	flex: 1;
	margin-right: 40rem;
    }

    &-text__darker {
	font-size: 4.5rem;
	color: #444444;
	line-height: 5.4rem;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
    }

    &-text__lighter {
	font-size: 11rem;
	color: #ffffff;
	font-weight: 400;
	line-height: 14.5rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
    }
}

.search {
    margin-top: 30px;
    width: 55rem;
    height: 6rem;
    color: #ffffff;
    display: flex;
    align-items: center;

    &-input {
	padding-left: 4rem;
	outline: none;
	border: none;
	border-radius: 2.4rem;
	height: 100%;
	width: 100%;

	&::placeholder {
	    font-style: normal;
	    font-weight: 500;
	    font-size: 2rem;
	    line-height: 2.4re,;
	    letter-spacing: 0.315em;
	    color: #808080;
	}
    }

    &-button {
	margin-left: -50px;
	background-color: transparent;
	border: none;
    }
}

.gg-search {
    color: #444444;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-radius: 3px;
      width: 2px;
      height: 8px;
      background: currentColor;
      transform: rotate(-45deg);
      top: 10px;
      left: 12px;
    }
  }

